<!DOCTYPE html>
<html>
    <head>
        <title>Techie Apache Camle</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.81/jsrender.min.js"></script>
    </head>
    <body>
        <h1>Equipos que terminaron la demo</h1>
        <div>
            <div class="terminada">
            </div>
        </div>
        <script id="terminada" type="text/x-jsrender">
            <div class="caja">
                <h2>Equipo: {{:equipo}} </h2>
                <div> fecha: {{:fecha}} </div>
                <div> Descripción: {{:descripcion}} </div>
                <div> tipo: {{:tipo}} </div>
            </div>
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                buscarFeriados();
            })
            
            function buscarFeriados() {
                $.when($.ajax("camel/feriados")).then(function (data, textStatus, jqXHR) {
                    var template = $.templates("#terminada");
                    var htmlOutput = template.render(data);
                    $(".terminada").html(htmlOutput);
                    setTimeout(buscarFeriados, 5000);
                });
            }
        </script>
    </body>
</html>
