.caja {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background:green;
    float: left;
    width: 30%;
    margin: 10px;
    padding: 10px;
    min-height: 180px;
}

